<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="leiden-university.png" alt="Logo" />
        <h1> NCG-MI-Leiden </h1>
        
        <h2> Past seminars </h2>
        
        <dl>
        <dt>2021 fall</dt>
        <dd>- <a href="https://pub.math.leidenuniv.nl/~aricif2/ncg_seminar.html">Deformation Quantization and Index Theory</a></dd>
        <dt>2022 spring</dt>
        <dd>- <a href="https://liyuezhao.github.io/teaching/seminar_kk_2022spring/index.html">K(K)-Theory</a></dd>
          
        <h2> Workshops</h2> 
          
        <dl>
        <dt>2022 fall</dt>
        <dd>- <a href="https://ncg-leiden.github.io/ncgday2022">NCG Day 2022</a></dd>
        </dl>

        <p>{{ site.description | default: site.github.project_tagline }}</p>


        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by Noncommutative Geometry group of Leiden University</p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
